@import "tailwindcss";

@theme {
    --font-primary: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-primary: #3b3b3b ;
    --color-brand: #A4742C ;      
    --color-accent: #AE9364 ;    
    --color-secondary: #54595F ; 
    --color-text: #7A7A7A ;
    --font-weight-primary: 600;
    --font-weight-secondary: 500;
    --font-weight-accent: 400; 
    --breakpoint-md-lg: 46.5rem 63.9375rem;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary, sans-serif);
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

}